Package: com.ztech.devicechanger
Name: gaulmt -Tech
Version: 5.4.4
Architecture: iphoneos-arm
Description: gaulmt -Tech v5.4.4 - Instant Vault Restore + Anti-Crash Keychain SafeGuard
Maintainer: gaulmt -Tech
Author: gaulmt -Tech
Section: Utilities
Depends: firmware (>= 12.0)
Icon: https://gaulmt.github.io/CydiaIcon@3x.png
Depiction: https://gaulmt.github.io/
SileoDepiction: https://gaulmt.github.io/depiction.json
