Package: com.ztech.devicechanger
Name: gaulmt -Tech
Version: 5.5.1
Architecture: iphoneos-arm
Description: gaulmt -Tech v5.5.1 - Fix Crash Zalo tren iPhone 11-16 (arm64e) & Fake Hoan Hao AIDA64
Maintainer: gaulmt -Tech
Author: gaulmt -Tech
Section: Utilities
Depends: firmware (>= 12.0), mobilesubstrate
Icon: https://gaulmt.github.io/CydiaIcon@3x.png
Depiction: https://gaulmt.github.io/
SileoDepiction: https://gaulmt.github.io/depiction.json
